@import "./normalize.css";
/*:root -> 获取根元素html*/
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
  /*  定义了变量 */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  padding: 0;
  margin: 0;
}
#tab-bar {
  background-color: #f6f6f6;
  display: flex;
  position: fixed;
  left: 0;
  padding-top: 5px;
  right: 0;
  bottom: 0;
  box-shadow: 0px -2px 1px rgba(100, 100, 100, 0.1);
}
#tab-bar .tab-bar-item {
  flex: 1;
  text-align: center;
  height: 49px;
  font-size: 11px;
}
#tab-bar .tab-bar-item img {
  margin-bottom: 6px;

  width: 30px;
  vertical-align: middle;
  height: 25px;
}
.el-carousel__button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 5px !important;
}
.el-carousel__indicators,
.el-carousel__indicators--horizontal {
  width: 260px;
  display: flex;
  justify-content: center;
}
